<ion-header class="color">


  <ion-toolbar color="color"> 
  <ion-title class="textCenter color" >Cadera</ion-title> 
  
    <ion-buttons  slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="light"
          mode="ios">
        </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content color="color">
<ion-card-content class="color textCenter ">
  <ion-list color="color2" class="color2  ion-col ">
    <ion-radio-group value="biff" color="color" >
      <ion-list-header class="color2" color="color2">
        <ion-label class="color2" color="color2" >Seleccione su sintoma</ion-label>
      </ion-list-header>
      <ion-item  color="color2">
        <ion-label class="color2">Dolor por caida</ion-label>
        <ion-radio slot="start" value="biff"  color="light" required></ion-radio>
      </ion-item>
      <ion-item  color="color2">
        <ion-label class="color2">Dolor en los huesos</ion-label>
        <ion-radio slot="start" value="griff" color="light" required></ion-radio>
      </ion-item>
      <ion-item  color="color2">
        <ion-label >Posible desgarro</ion-label>
        <ion-radio slot="start" value="buford" color="light" required></ion-radio>
      </ion-item >
    </ion-radio-group>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" color="light">
      Siguiente
    </ion-button>
  </ion-list>
  </ion-card-content>
</ion-content>