.textCenter{     text-align: center;  }
.color2{
    
    background-color: #39a6ff;
}
.color{
    
    background-color: #39a6ff;
}
.bgcolor {
    background: #cdcfd6;
  }
  
  .ion-col {
    border: 2px solid #000000;
  }
