<ion-header>


  <ion-toolbar> <ion-title class="textCenter">Brazos</ion-title> 
  
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios"
          routerLink="/inicio">
        </ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Seleccione su sintoma</ion-label>
      </ion-list-header>
      <ion-item >
        <ion-label>Dolor Punsante</ion-label>
        <ion-radio slot="start" value="biff" required></ion-radio>
      </ion-item>
      <ion-item >
        <ion-label>Dolor por caida</ion-label>
        <ion-radio slot="start" value="griff" required></ion-radio>
      </ion-item>
      <ion-item >
        <ion-label>Dolor en los huesos</ion-label>
        <ion-radio slot="start" value="buford" required></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      Siguiente
    </ion-button>
  </ion-list>
</ion-content>
