<ion-header>
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios">
        </ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end" routerLink="/inicio">
      <ion-avatar >
        <ion-img  src="/assets/img/symtosympn.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title  color="primary">Manual</ion-title>



  </ion-toolbar>
</ion-header>
<ion-content color="primary">

<ion-card>
  <ion-card-header>
    <ion-card-title>Síntomas del dolor de cabeza</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/img/CABEZA.jpeg"></ion-img>
  <ion-card-content  class="ion-padding contenido">
    Eléctrico, como un calambre <BR>
    De tipo opresivo, como si llevásemos un casco<BR>
    Pulsátil, como un latido<BR>
    Terebrante, como un talado<BR>
    Dolor explosivo<BR>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Fatiga ocular</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/img/ojo.jpg"></ion-img>
  <ion-card-content  class="ion-padding contenido">
    Ojos doloridos, cansados, con ardor o picazón<BR>
    Ojos llorosos o secos<BR>
    Visión borrosa o doble<BR>
    Dolor de cabeza<BR>
    Cuello, hombros o espalda doloridos<BR>
    Mayor sensibilidad a la luz<BR>
    Dificultad para concentrarse<BR>
    Sensación de que no puedes mantener los ojos abiertos<BR>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Dolor oido</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/img/orejas.jpg"></ion-img>
  <ion-card-content  class="ion-padding contenido">
    El dolor de oído puede tener causas que no se deben a una enfermedad subyacente. 
    Por ejemplo, usar accesorios para la cabeza ajustados, usar auriculares poco adecuados,
     dormir sobre una superficie dura, los aros, rechinar los dientes o tener un objeto atorado en el oído.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Dolor de Naris</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/img/nariz.jpg"></ion-img>
  <ion-card-content  class="ion-padding contenido">
    Sensación de llenura, presión y dolor en la cara sobre las cavidades de los senos paranasales que se encuentran encima de las cejas, detrás de los ojos y en los pómulos.
    El dolor o la presión pueden ocurrir a ambos lados de la cara pero son más frecuentes de un solo lado.
    También puede haber bloqueo nasal (nariz tapada) secreción nasal y goteo postnasal.
  </ion-card-content>
</ion-card>


  
 

</ion-content>
